.chatBoxContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}

.userImageContainer {
    display: flex;
}

.userImage {
    background-color: #000;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.inputContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    border: none;
    border-bottom: 1px solid #000;
}

.inputContainer input {
    width: 100%;
    padding: 10px 0;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: white;
    color: black;
}

.inputContainer button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: auto;
    height: 40px;

    padding: 20px;

    background: rgba(228, 228, 228, 0.747);
    color: black;
    outline: none;
    border: none;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
}

.inputContainer button:hover {
    font-weight: 600;
}

.productCommentsWrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;

    width: 100%;
    height: fit-content;

    gap: 30px;
}

.productCommentsContainer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;

    width: 100%;
    height: fit-content;
}