.mainWrapper {
    position: relative;
    
    width: 100vw;
    height: 100vh;

    background-color: white;
    color: black;

    font-size: 16px;
    font-weight: 300;
    font-family: sans-serif;
    overflow: hidden;
}

.HorizontalMainContainer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;

    width: 100%;
    height: 100%;
}

.VerticalMainContainer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;

    width: 100%;
    height: 100%;

    overflow-y: auto;

    font-size: 40px;
    font-weight: 800;
}

.productDetailsContainer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;

    width: 100%;
    height: 100%;

    padding: 10px;
    gap: 10px;

    font-size: 16px;
    font-weight: 300;
    font-family: sans-serif;
}

.LeftSection {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;

    width: 100%;
    max-width: 700px;
    min-width: 300px;
    height: fit-content;
}

.ImgsContainer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;

    width: fit-content;
    height: fit-content;

    gap: 20px;
}

.ImgsHolder {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    flex-direction: column;

    width: auto;
    height: fit-content;
    
    overflow: hidden;
    padding: 10px;
    gap: 10px;
}

.ImgSmallBox {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 70px;
    height: 70px;

    border-radius: 15px;
    border: 2px solid grey;
    background-color: black;
}

.activeImgBox { width: 90px; height: 90px; border-radius: 15px; border: 4px solid grey;}

.ImgsController {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: auto;
    height: fit-content;

    padding: 10px;
}

.ImgsControllBtn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;

    color: black;
    font-weight: 700;
}

.ImgContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    min-width: 220px;
    max-width: 600px;
    height: calc(100vh - 60px);
    min-height: 300px;
    max-height: 500px;
    border-radius: 10px;

    background-color: rgba(41, 40, 40, 0.461);
    backdrop-filter: blur(20px);
    color: white;

}

.RightSection {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;

    width: auto;
    min-width: 300px;
    height: 100%;

    padding: 10px;
    gap: 10px;
}

.productTitleHead {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    width: 100%;
    height: auto;

    font-size: 40px;
    font-weight: 800;
}

.productCompany {
    display: flex;
    align-items: center;
    justify-content: center;

    width: auto;
    height: 30px;

    padding: 10px;
    margin: 10px;

    border-radius: 5px;
    background-color: rgba(190, 183, 183, 0.614);
    color: black;
}

.productTitleDesc {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    width: 100%;
    height: auto;

    padding: 10px;
    text-align: left;
}

.productDiversityContainer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;

    width: 100%;
    height: fit-content;

    gap: 10px;
    padding: 10px 0;
}

.productDiversityOptionsContainer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;

    width: 100%;
    height: 40px;

    gap: 10px;

    overflow-x: auto;
}

.productDiversityItem {
    display: flex;
    align-items: center;
    justify-content: center;

    width: auto;
    height: 100%;

    border-radius: 10px;
    padding: 10px;
    background-color: black;
    color: white;
}

.productButtons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;

    width: 100%;
    min-height: 40px;

    gap: 10px;
}

.productCartBtn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: auto;
    height: 40px;

    padding: 10px;
    border-radius: 10px;
    background-color: transparent;
    color: black;
    cursor: pointer;
}

.productBuyBtn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: auto;
    height: 40px;

    padding: 10px;
    border-radius: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.productCommentsContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 200px;

    font-size: 40px;
    font-weight: 800;
}