.mainWrapper {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;

    width: 100vw;
    height: 100vh;

    background-color: white;
    color: black;
    overflow: hidden;
}

.HorizontalMainContainer {
    position: relative;
    display: flex;
    flex-direction: row;

    width: 100%;
    height: 100%;

    overflow-y: hidden;
}

.VerticalMainContainer {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;

    width: 100%;
    min-width: 300px;
    height: 100%;

    overflow-y: auto;
}

.productContainer {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
}

.productDetailsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;

    width: 100%;

    padding: 10px;
    gap: 10px;

    font-size: 16px;
    font-weight: 300;
    font-family: sans-serif;
}

.LeftSection {
    display: flex;
    flex-direction: column;

    gap: 10px;
    width: 100%;
    max-width: 590px;
    height: auto;
    max-height: 620px;
}

.imageContainer {
    position: relative;
    display: flex;
    width: 100%;
    height:  100%;
    gap: 10px;
}

.ImgsContainer {
    position: relative;
    width: 110px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
}

.ImgsHolder {
    width: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    gap: 10px;
}

.smallImage {
    position: relative;
    overflow: hidden;
    width: 90px;
    height: 90px;
    border-radius: 4px;
}

.activeImgBox {
    border: 2.5px solid #1aa5dd;
    border-radius: 4px;
}

.ImgsController {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 100%;
    padding: 0 4px;
}

.ImgsControllBtn {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 3px;
    width: 100%;

    color: white;
    backdrop-filter: blur(8px);
    font-weight: 700;
}

.biggestImage {
    position: relative;
    width: 100%;
    max-width: 500px;
    height: 100%;
    min-height: 450px;
    max-height: 500px;
    overflow: hidden;
    border: 1px solid #afafaf;
    border-radius: 4px;
}

.productImg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.RightSection {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;

    width: clamp(300px, 100%, 600px);
    height: 100%;

    gap: 10px;
}

.productTitleHead {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    width: 100%;
    height: auto;
    padding-left: 8px;

    font-size: 40px;
    font-weight: 800;
}

.productCompany {
    display: flex;
    align-items: center;
    justify-content: center;

    width: auto;
    height: 30px;

    padding: 10px;
    margin: 10px;

    border-radius: 5px;
    /* background-color: rgba(190, 183, 183, 0.614); */
    background-color: rgba(54, 53, 53, 0.751);
    color: white;
}

.productTitleDesc {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    width: 100%;
    height: auto;

    padding: 10px;
    text-align: left;
}

.productDiversityContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

    width: 100%;
    height: fit-content;
    margin: 10px;
}

.productVariationsHolder {
    display: flex;

    width: fit-content;
}

.productDiversityItem {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;

    padding: 10px 15px;
    background-color: black;
    color: white;
    cursor: pointer;
    border: 1px solid #000;
}

.productButtons {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;

    width: 100%;
    min-height: 40px;

    gap: 10px;
}

/* .productCartBtn {
    display: flex;
    align-items: center;
    justify-content: center;

    
    height: 40px;

    padding: 10px;
    border-radius: 10px;
    background-color: transparent;
    color: black;
    cursor: pointer;
} */

.productBuyBtn,
.productCartBtn {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-basis: 50%;

    padding: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.bigImageContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.QNAContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 1100px;
    width: 100%;
    margin: 40px auto;
    padding: 0 10px;
}

.productTagsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    width: 100%;
    height: fit-content;

    padding: 10px;
    gap: 10px;
}

.productTagItem {
    display: flex;
    align-items: center;
    justify-content: center;

    width: auto;
    height: 30px;

    padding: 10px;
    border-radius: 5px;
    background-color: rgba(227, 224, 224, 0.603);
    color: black;
}

.productVaritionsName {
    color: black;
    font-size: 18px;
    font-weight: 600;
}

.productPrice {
    display: flex;
    align-items: center;
    justify-content: center;

    width: auto;
    height: auto;

    padding: 15px;
    font-size: 20px;
}

@media only screen and (max-width: 900px) {
    .productDetailsContainer {
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 700px) {
    .productContainer {
        margin-top: 0;
    }

    .LeftSection {
        width: 100%;
        max-width: none;
        height: fit-content;
        max-height: none;
    }

    .imageContainer {

        flex-wrap: wrap-reverse;
    }

    .ImgsContainer {
        width: 100%;
        height: fit-content;
        max-height: 500px;
        overflow-y: hidden;
        overflow-x: auto;
    }

    .ImgContainer {
        height: 400px;
    }

    .ImgsHolder {
        width: 100%;
        flex-direction: row;
    }

    .productBuyBtn,
    .productCartBtn {
        font-size: 15px;
    }

    .biggestImage {
        min-height: 300px;
        max-height: 350px;
    }
}