.mainWrapper{
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: #fff;
    color: black;
}

.cmsContent {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 30px;
    border-left: 1px solid #b7b7b7;
    overflow-y: auto;
}
