.mainWrapper {
  position: relative;

  width: 100vw;
  height: 100vh;

  background-color: white;
  color: black;
  overflow: hidden;
}


.HorizontalmainContainer {
  position: relative;
  display: flex;
  flex-direction: row;

  width: 100%;
  height: 100%;

  overflow-y: hidden;
}

.VerticalmainContainer {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;

  width: 100%;
  min-width: 300px;
  height: 100%;

  overflow-y: auto;
}

.brandAdsDisplayContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  width: calc(100% - 20px);
  min-height: 350px;

  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  
  font-size: 32px;
  font-family: sans-serif;
  font-weight: 700;

  color: white;
  background-color: black;
}

.sectionContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;

  width: 100%;
  max-width: 100%;
  height: auto;

  padding: 10px;
  gap: 10px;

  margin: 10px 0;
}

.sectionHead {
  display: flex;
  justify-content: center;

  width: 100%;
  height: 40px;

  font-size: 26px;
  font-weight: 600;
  color: black;

  padding: 10px;
}

.categoriesContainer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;

  width: 100%;

  padding: 10px;
  gap: 10px;
}

.categoriesItem {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 210px;
  height: 60px;

  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
  background-color: black;
  color: white;
  cursor: pointer;
}
/* Responsive Design : Mobile->700px  Small Screens->1120px */