.mainWrapper {
  position: relative;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;

  width: 100vw;
  height: 100vh;

  background-color: white;
  color: black;
  overflow: hidden;
}


.HorizontalmainContainer {
  position: relative;
  display: flex;
  flex-direction: row;

  width: 100%;
  height: 100%;

  overflow-y: hidden;
}

.VerticalmainContainer {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;

  width: 100%;
  min-width: 300px;
  height: 100%; 

  overflow-y: auto;
}

.brandAdsDisplayContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: calc(100% - 20px);
  min-height: 550px;

  border-radius: 10px;
  margin: 10px;
  
  font-size: 32px;
  font-family: sans-serif;
  font-weight: 700;

  color: white;
  overflow: hidden;
}

.bannerText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px;

  font-size: 32px;
  font-weight: 700;
  width: 100%;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 4px #000;
}

.bannerImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sectionContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;

  width: 100%;
  max-width: 100%;
  height: auto;

  padding: 10px;
  gap: 10px;

  margin: 10px 0;
}

.sectionHead {
  display: flex;
  justify-content: center;

  width: 100%;
  height: 40px;

  font-size: 26px;
  font-weight: 600;
  color: black;

  padding: 10px;
}

.categoriesContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;

  width: 100%;

  padding: 10px;
  gap: 10px;

  scrollbar-width: none;
  scrollbar-color: transparent transparent;
}

.diffCategoriesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;

  width: 100%;

  padding: 10px;
  gap: 10px;
}

.categoriesItem {
  display: flex;
  align-items: center;
  justify-content: center;

  width: clamp(200px, 100%, 230px);

  padding: 15px;
  border-radius: 10px;
  font-size: 20px;
  background-color: black;
  color: white;
  cursor: pointer;
}

.categoriesItem:hover {
  background-color: #333;
}
/* Responsive Design : Mobile->700px  Small Screens->1120px */