.navWrapper {
    position: relative;
    width: 300px;
}

.verticalNavContainer {
    position: fixed;
    width: 300px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    height: 100vh;
    overflow-y: auto;
    background-color: #fff;
    scrollbar-width: thin;
    scrollbar-color: #b7b7b7 transparent;
}

.logoContainer {
    position: relative;
    width: 100%;
    height: fit-content;
}

.logoImage {
    width: 90px;
    height: fit-content;
}

.menuItemsContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menuItem {
    font-size: 14px;
    font-weight: 600;
    padding: 10px 15px;
    width: 100%;
    box-shadow: 2px 2px 5px 0 #b7b7b7;
}