.mainWrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;

    width: 100vw;
    height: 100vh;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 100%;
    height: 100%;

    overflow-y: auto;
    font-family: sans-serif;
    background-color: white;
}

.paymentBtn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 280px;
    height: 50px;

    color: white;
    background-color: blue;

    border: 0;
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
}